.gifts-container{
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}


.card, .loading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 200px;
}

.card{
  margin: 1rem;
  position: relative;
  transition: all 1s ease;
  cursor: pointer;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);
}

.card:hover{
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2)
}


.portada{
  flex: 1 1 auto;
  width: 100%;
  background: no-repeat center center;
  background-size: cover;
}

.estado{
  padding: .3rem;
  color: white;
  font-weight: bold;
  width: 100%;
}

.private{
  background: #cb4128;
}

.public{
  background: #2fb029;
}

.auth{
  background: #3380b0;
}


.overlay{
  transition: all 1s ease;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(15, 8, 203, 0.62);
  opacity: 0;
  color: white;
  font-weight: bold;
}

.overlay:hover{
  opacity: 1;
  background: rgba(255, 64, 0, 0.7);
}
