<div class="tags-container">

  <div style="color:lightseagreen;"
       class="card"
       routerLink="{{'/formulario-' + tagType + '-tag'}}">
    <i class="fa fa-plus"></i>
    <span>Crear tag</span>
  </div>

  <!--Default tag key-->
  <div class="card">

    <i style="color: yellow; margin-bottom: 1rem"
       class="fa fa-star fa-2x"></i>

    <div>tag por defecto</div>

    <select class="form-control"
            name="defaultTagKey"
            required
            [(ngModel)]="defaultTagKey"
            (change)="changeDefaultTagKey()">
      <option *ngFor="let option of tags | async"
              [ngValue]="option.$key">
        {{option.name}}
      </option>
    </select>

  </div>

  <ng-container *ngIf="tags | async;else loading; let tagsArray">

    <div class="card"
         *ngFor="let tag of tagsArray"
         (click)="edit(tag)">

      <i style="color: yellow;"
         class="fa fa-star"
         *ngIf="tag.$key == defaultTagKey"></i>
      <div class="name">{{tag.name}}</div>
      <div *ngIf="tag.name != 'Destacado'"
           class="overlay">
        <i class="fa fa-pencil fa-3x"></i>
        <span>editar</span>
      </div>

    </div>

    <div *ngIf="tagsArray.length == 0">
      No hay tags cargados
    </div>

  </ng-container>

  <ng-template #loading>
    <div class="loading">
      <i style="color:lightseagreen"
         class="fa fa-spinner fa-spin fa-5x"></i>
    </div>
  </ng-template>

</div>