.tags-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.card{

  flex: 0 0 auto;
  cursor: pointer;

  display: flex;
  text-align: center;

  width: 90%;
  max-width: 40rem;
  margin: .5rem;
  padding: 1rem;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);

  i{
    height: 25px;
    line-height: 27px;
  }
}

.overlay{
  transition: all 1s ease;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(15, 8, 203, 0.62);
  opacity: 0;
  color: white;
  font-weight: bold;
}

.overlay:hover{
  opacity: 1;
  background: rgba(255, 64, 0, 0.7);
}
