<form (submit)="submit(this)"
<<<<<<< HEAD
      #form="ngForm"
=======
>>>>>>> cbe38a595184a43a7b256eeb7ab8f7277bc88edf
      *ngIf="gift">
  <h4 *ngIf="create">Nuevo regalo</h4>
  <h4 *ngIf="!create">Editar regalo</h4>


  <div class="form-group w-75">
    <label for="titulo">Imagen de portada</label>
    <div class="input-group input-group-sm">
      <input id="image"
             type="file"
             (change)="previewImage($event)">
    </div>

    <img id="preview"
         [src]="gift.photo"
         onerror="this.src = ''">
  </div>

  <div class="form-group w-75">
    <label for="titulo">Titulo</label>
    <div class="input-group input-group-sm">
<<<<<<< HEAD
      <input (keyup)="verifyTitle(gift)"
=======
      <input (keyup)="verifyTitle()"
>>>>>>> cbe38a595184a43a7b256eeb7ab8f7277bc88edf
             type="text"
             placeholder="titulo"
             id="titulo"
             [(ngModel)]="gift.title"
             name="titulo"
             [class.form-control-error]="titleInvalid"
             class="form-control">
    </div>
    <small *ngIf="titleInvalid"
           class="form-error form-text text-muted">
      el titulo ya esta ocupado por otro regalo
    </small>
  </div>

  <div class="form-group w-75">
    <label for="descripcion">Descripcion</label>
    <div class="input-group input-group-sm text-left">
      <textarea class="form-control"
                id="descripcion"
                rows="2"
                [(ngModel)]="gift.description"
                name="descripcion"
                placeholder="descripcion del gift">
      </textarea>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="billetes">Billetes</label>
      <img src="../../../../assets/images/bill.png"
           alt=""
           height="50"
           width="50">
      <input type="number"
             class="form-control"
             [(ngModel)]="gift.bills"
             name="billetes"
             id="billetes">
    </div>

    <div class="form-group col-md-6">
      <label for="monedas">Monedas</label>
      <img src="../../../../assets/images/Coin.png"
           alt=""
           height="50"
           width="50">
      <input type="number"
             class="form-control"
             [(ngModel)]="gift.coins"
             name="monedas"
             id="monedas">
    </div>
  </div>

  <div class="form-group mt-3">
    <label for="estado">Tipo</label>
    <div class="input-group input-group-sm">
      <select class="form-control"
              name="type"
              id="type"
              [(ngModel)]="gift.type">
        <option [value]="GiftTypes.LINK">link</option>
        <option [value]="GiftTypes.GAME">juego</option>
        <option [value]="GiftTypes.STORY">historia</option>
        <option [value]="GiftTypes.WIMIGAME">juego de wimi</option>
      </select>
    </div>
  </div>

  <div class="form-group w-75">
    <label for="link">
      {{typeDescription[gift.type]}}
    </label>
    <div class="input-group input-group-sm">
      <textarea type="text"
                placeholder="contenido"
                id="link"
                [(ngModel)]="gift.content"
                name="link"
                class="form-control">
      </textarea>
    </div>
  </div>

<<<<<<< HEAD
  <!--Tags section-->
  <div class="form-group mt-3 w-75">
    <label for="estado">Tags</label>

    <div class="input-group input-group-sm w-100">

      <!--Selected tags-->
      <div *ngFor="let tag of selectedTags; let i = index"
           class="tag-container">

        <select class="form-control"
                name="{{'tag'+i}}"
                id="estado"
                required
                [(ngModel)]="selectedTags[i].tag"
                (change)="resetGroups(i)">
          <option *ngFor="let option of tags"
                  [disabled]="tagAlreadySelected(option.$key)"
                  [ngValue]="option">
            {{option.name}}
          </option>
        </select>

        <angular2-multiselect *ngIf="selectedTags[i].tag"
                              [data]="selectedTags[i].tag.groups"
                              [settings]="dropdownSettings"
                              name="{{'group'+i}}"
                              [(ngModel)]="selectedTags[i].groups"
                              (onSelect)="onTagSelect($event)"
                              (onDeSelect)="onTagDeSelect($event)">
        </angular2-multiselect>

        <button type="button"
                class="btn btn-danger"
                (click)="removeTag(i)">Eliminar tag</button>

      </div>
    </div>

    <button [disabled]="notAvailableTags"
            type="button"
            (click)="addTag()">Agregar tag</button>

  </div>

=======
>>>>>>> cbe38a595184a43a7b256eeb7ab8f7277bc88edf
  <div class="form-group mt-3">
    <label for="estado">Estado</label>
    <div class="input-group input-group-sm">
      <select class="form-control"
              name="estado"
              id="estado"
              [(ngModel)]="gift.state">
<<<<<<< HEAD
        <option [value]="states.PRIVATE">privado</option>
        <option [value]="states.PUBLIC">publico</option>
        <option [value]="states.AUTH">autenticado</option>
=======
        <option [value]="States.PRIVATE">privado</option>
        <option [value]="States.PUBLIC">publico</option>
        <option [value]="States.AUTH">autenticado</option>
>>>>>>> cbe38a595184a43a7b256eeb7ab8f7277bc88edf
      </select>
    </div>
  </div>

  <div class="d-flex justify-content-center mt-4"
       style="flex-direction: column">
    <button *ngIf="!create"
            type="button"
            class="btn btn-danger"
            (click)="removeGift()">Eliminar regalo</button>
    <button type="submit"
            class="btn btn-primary"
<<<<<<< HEAD
            [disabled]="!photoLoaded || form.invalid">Guardar regalo</button>
=======
            [disabled]="!photoLoaded">Guardar regalo</button>
>>>>>>> cbe38a595184a43a7b256eeb7ab8f7277bc88edf
    <small>para guardar primero debe cargar una foto (puede estar en proceso de subida)</small>
  </div>

</form>