$background : #75e3ff;

.signin-container, .signup-container{
  background-color: transparent;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signin-container form, .signup-container form{
  width: 90%;
  max-width: 20rem;
}

.signup-container{
  overflow-y: hidden;
}

//errores en los campos
.form-control.ng-invalid.ng-dirty.ng-touched{
  border: 1px solid red;
}

.border-green{
  border: 1px solid #00c900;
}

.form-error{
  color: red !important;
}

.form-success{
  color: #00c900 !important;
}

.modal-body{
  padding: 3rem 2rem 2rem 2rem;
}

.modal-content{
  width: 100%;
  background: no-repeat center center;
  background-size: cover;
}
