<div class="signin-container">

  <h4>Signin admin</h4>

  <form class="text-center" autocomplete="off" novalidate [formGroup]="form" (ngSubmit)="onSubmit()">

    <!--EMAIL-->
    <div class="form-group">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="email"
          name="email"
          formControlName="email"
          #email>
      </div>

      <div *ngIf="isValid('email')">

        <small  *ngIf="form.controls['email'].errors.required"
                class="form-error form-text text-muted">
          debe ingresar un email o nombre de usuario
        </small>
      </div>
    </div>

    <!--CONTRASEÑA-->
    <div class="form-group">
      <div class="input-group">
        <input
          type="password"
          class="form-control"
          placeholder="contraseña"
          name="password"
          formControlName="password"
          #password>
      </div>

      <div *ngIf="isValid('password')">

        <small  *ngIf="form.controls['password'].errors.required"
                class="form-error form-text text-muted">
          debe ingresar una contraseña
        </small>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">
      Ingresar
      <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
    </button>

  </form>

</div>

