.img-class{
    width: 100%;
}

.fixed-img{
    position: fixed;
}

//loader class
$fa-css-prefix: 'fa';
@import '~font-awesome/scss/variables';
@import '~font-awesome/scss/core';
@import '~font-awesome/scss/icons';

.size-3x{
    font-size: 50px
} 

@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.slow-spin {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}


@mixin fa-loader-navigation(){
    @extend .fa;
    @extend .fa-spinner;  
    @extend .slow-spin;
    @extend .size-3x; 
    color: white;
}

.loader-class{
    @include  fa-loader-navigation();
}

