<img [src]="src" 
      class="img-class" 
      alt="image" 
      (load)="onLoadImage()" 
      [style.hidden]="loadStatus" 
      [class.fixed-img]="loadStatus"> 
<div *ngIf="loadStatus" >
  <span style="margin: 0 auto; display: table" class="loader-class"></span> 
</div>