<form (submit)="submit(this)"
      *ngIf="article"
      #form>
  <h4 *ngIf="create">Nuevo articulo</h4>
  <h4 *ngIf="!create">Editar articulo</h4>


  <div class="form-group w-75">
    <label for="titulo">Imagen de portada</label>
    <div class="input-group input-group-sm">
      <input id="image"
             type="file"
             (change)="previewImage($event)">
    </div>

    <img id="preview"
         [src]="article.photo"
         onerror="this.src = ''">
  </div>

  <div class="form-group w-75">
    <label for="titulo">Titulo</label>
    <div class="input-group input-group-sm">
      <input required
             (keyup)="verifyTitle()"
             type="text"
             placeholder="titulo"
             id="titulo"
             [(ngModel)]="article.title"
             name="titulo"
             class="form-control"
             [class.form-control-error]="titleInvalid">
    </div>
    <small *ngIf="titleInvalid"
           class="form-error form-text text-muted">
      el titulo ya esta ocupado por otro articulo
    </small>
  </div>


  <div class="form-group w-75">
    <label for="video-portada">Video de portada</label>
    <div class="input-group input-group-sm text-left">
      <input type="text"
             placeholder="Video de youtube"
             id="video"
             [(ngModel)]="article.video"
             name="video"
             class="form-control">
    </div>
  </div>

  <div class="form-group w-75">
    <label for="descripcion">Descripcion</label>
    <div class="input-group input-group-sm text-left">
      <textarea required
                class="form-control"
                id="descripcion"
                rows="2"
                [(ngModel)]="article.description"
                name="descripcion"
                placeholder="descripcion del article">
      </textarea>
    </div>
  </div>

  <app-tiny-mce-editor (onEditorKeyup)="contentChange($event)"
                       [content]="article.content ? article.content : ''">
  </app-tiny-mce-editor>

  <div class="form-group mt-3">
    <label for="estado">Estado</label>
    <div class="input-group input-group-sm">
      <select required
              class="form-control"
              name="estado"
              id="estado"
              [(ngModel)]="article.state">
        <option [value]="States.PRIVATE">privado</option>
        <option [value]="States.PUBLIC">publico</option>
        <option [value]="States.AUTH">autenticado</option>
      </select>
    </div>
  </div>

  <div class="d-flex justify-content-center mt-4">

    <button *ngIf="!create"
            type="button"
            class="btn btn-danger"
            (click)="removeArticle()">

      Eliminar article

    </button>

    <button type="submit"
            class="btn btn-primary"
            [disabled]="!photoLoaded || loadingMessage.length > 0">

      Guardar articulo

    </button>

  </div>
  <small *ngIf="!photoLoaded">debe cargar una foto</small>
  <small>{{loadingMessage}}</small>

</form>