form{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#preview{
  height: 100px;
}

button{
  margin: 1rem;
}

.form-error{
  color: red !important;
}

.form-control-error{
  border-color: red !important;
}
