<div class="articulos-container">

  <div style="color:lightseagreen"
       class="card"
       routerLink="/formulario-articulo">
    <i class="fa fa-plus fa-5x"></i>
    <span>Crear articulo</span>
  </div>

  <ng-container *ngIf="articles | async;else loading; let articlesArray">
    <div class="card text-center"
         *ngFor="let article of articlesArray"
         (click)="edit(article)">
      <div [class.private]="article.state == States.PRIVATE"
           [class.public]="article.state == States.PUBLIC"
           [class.auth]="article.state == States.AUTH"
           class="estado">
        {{getStateName(article.state)}}
      </div>
      <div class="portada"
           [style.background-image]="'url(' + article?.photo + ')'"></div>
      <div class="titulo">{{article.title}}</div>
      <div class="video-article"
           *ngIf="article.video">
        <i class="fa fa-play fa-3x"></i>
        <b>
          Con video portada
        </b>
      </div>
      <div class="overlay">
        <i class="fa fa-pencil fa-3x"></i>
        <span>editar</span>
      </div>
    </div>

    <div *ngIf="articlesArray.length == 0">
      No hay articulos cargados
    </div>
  </ng-container>

  <ng-template #loading>
    <div class="loading">
      <i style="color:lightseagreen"
         class="fa fa-spinner fa-spin fa-5x"></i>
    </div>
  </ng-template>
</div>