.admin-container{
  height: 100vh;
  display: flex;
}

nav{
  flex: 0 0 auto;
  width: 18rem;
  background: #484640;
  color: white;
}

nav img{
  display: block;
  height: 80px;
  margin: .5rem auto 0 auto;
}

nav hr{
  background: grey;
}

nav h4{
  width: 100%;
  text-align: center;
  padding: 1rem;
}

nav ul{
  list-style: none;
  padding: 0;
}

nav ul li{
  width: 100%;
  padding: .5rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: all 1s ease;
  color: lightseagreen;
}

nav ul li:hover, .active{
  background: lightseagreen;
  color: white !important;
  outline: none;
}

a{
  text-decoration: none;
  color: inherit;
}

.admin-content{
  overflow-y: auto;
  flex: 1 1 auto;
  padding: 2rem;
}
