<div class="admin-container">
  <nav>
    <img src="../../../assets/images/icono.png"
         alt="">
    <h4>{{nombreUsuario}}</h4>
    <hr>
    <ul>
      <li routerLink="/articulos"
          routerLinkActive="active">
        Articulos
      </li>
      <li routerLink="/regalos"
          routerLinkActive="active">
        Regalos
      </li>
      <li routerLink="/video-tags"
          routerLinkActive="active">
        Tags de videos
      </li>
      <li routerLink="/gift-tags"
          routerLinkActive="active">
        Tags de regalos
      </li>
      <li routerLink="/videos"
          routerLinkActive="active">
        Videos
      </li>
      <li routerLink="/administradores"
          routerLinkActive="active">
        Usuarios admin
      </li>
      <li routerLink="/crear-administrador"
          routerLinkActive="active">
        crear admin
      </li>
      <li routerLink="/crear-administrador-suscripto"
          routerLinkActive="active">
        convertir usuario a admin
      </li>
      <hr>
      <li>
        <a (click)="logOut()">Salir</a>
      </li>
    </ul>
  </nav>

  <div class="admin-content">
    <router-outlet></router-outlet>
  </div>
</div>

<app-dialog></app-dialog>