<form (submit)="submit(this)"
      *ngIf="video">
  <h4 *ngIf="create">Nuevo video</h4>
  <h4 *ngIf="!create">Editar video</h4>

  <div class="form-group w-75">
    <label for="titulo">Titulo</label>
    <div class="input-group input-group-sm">
<<<<<<< HEAD
      <input (keyup)="verifyTitle(video)"
=======
      <input (keyup)="verifyTitle()"
>>>>>>> cbe38a595184a43a7b256eeb7ab8f7277bc88edf
             type="text"
             placeholder="titulo"
             id="titulo"
             [(ngModel)]="video.title"
             name="titulo"
             [class.form-control-error]="titleInvalid"
             class="form-control">
    </div>
    <small *ngIf="titleInvalid"
           class="form-error form-text text-muted">
      el titulo ya esta ocupado por otro video
    </small>
  </div>

  <div class="form-group w-75">
    <label for="descripcion">Descripcion</label>
    <div class="input-group input-group-sm text-left">
      <textarea class="form-control"
                id="descripcion"
                rows="2"
                [(ngModel)]="video.description"
                name="descripcion"
                placeholder="descripcion del video">
      </textarea>
    </div>
  </div>

  <div class="form-group w-75">
    <label for="link">
      Link
    </label>
    <div class="input-group input-group-sm">
      <textarea type="text"
                placeholder="link"
                id="link"
                [(ngModel)]="video.link"
                name="link"
                class="form-control">
      </textarea>
    </div>
  </div>

<<<<<<< HEAD
  <!--Tags section-->
  <div class="form-group mt-3 w-75">
    <label for="estado">Tags</label>

    <div class="input-group input-group-sm w-100">

      <!--Selected tags-->
      <div *ngFor="let tag of selectedTags; let i = index"
           class="tag-container">

        <select class="form-control"
                name="{{'tag'+i}}"
                id="estado"
                required
                [(ngModel)]="selectedTags[i].tag">
          <option *ngFor="let option of tags"
                  [disabled]="tagAlreadySelected(option.$key)"
                  [ngValue]="option">
            {{option.name}}
          </option>
        </select>

        <angular2-multiselect *ngIf="selectedTags[i].tag"
                              [data]="selectedTags[i].tag.groups"
                              [settings]="dropdownSettings"
                              name="{{'group'+i}}"
                              [(ngModel)]="selectedTags[i].groups"
                              (onSelect)="onTagSelect($event)"
                              (onDeSelect)="onTagDeSelect($event)">
        </angular2-multiselect>

        <button type="button"
                class="btn btn-danger"
                (click)="removeTag(i)">Eliminar tag</button>

      </div>
    </div>

    <button [disabled]="notAvailableTags"
            type="button"
            (click)="addTag()">Agregar tag</button>

  </div>

=======
>>>>>>> cbe38a595184a43a7b256eeb7ab8f7277bc88edf
  <div class="form-group mt-3">
    <label for="estado">Estado</label>
    <div class="input-group input-group-sm">
      <select class="form-control"
              name="estado"
              id="estado"
              [(ngModel)]="video.state">
<<<<<<< HEAD
        <option [value]="states.PRIVATE">privado</option>
        <option [value]="states.PUBLIC">publico</option>
        <option [value]="states.AUTH">autenticado</option>
=======
        <option [value]="States.PRIVATE">privado</option>
        <option [value]="States.PUBLIC">publico</option>
        <option [value]="States.AUTH">autenticado</option>
>>>>>>> cbe38a595184a43a7b256eeb7ab8f7277bc88edf
      </select>
    </div>
  </div>

  <div class="d-flex justify-content-center mt-4">
    <button *ngIf="!create"
            type="button"
            class="btn btn-danger"
            (click)="removeVideo()">Eliminar video</button>
    <button type="submit"
            class="btn btn-primary">Guardar video</button>
  </div>

</form>