<div class="jumbotron jumbotron-fluid jumbotron-style">
  <div class="container">
    <h3 class="display-6">Usuarios administradores</h3>
    <p class="lead">Aqui podras encontrar todos los usuarios que forman parte
      del staff de dentoonia.</p>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID (uuid firebase)</th>
      <th scope="col">nombre</th>
      <th scope="col">email</th>
      <th scope="col">Fecha de creacion</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of adminUsers | async">
      <th scope="row">{{user.uid}}</th>
      <td>{{user.displayName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.timestamp | date: 'dd/MM/yyyy'}}</td>
    </tr>
  </tbody>
</table>
