form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  
  button{
    margin: 1rem;
  }
  
  .form-error{
    color: red !important;
  }
  
  .form-control-error{
    border-color: red !important;
  }
  
  angular2-multiselect{
    width: 100%;
  }
  
  .tag-container {
    width: 100%;
    border: 1px solid grey;
    border-radius: 20px;
    padding: 0 1rem;
    margin: 2rem 0 1rem 0;
  
    >* {
      margin: 1rem 0;
    }
  } 
  