<div class="videos-container">

  <div style="color:lightseagreen" class="card" routerLink="/formulario-video">
    <i class="fa fa-plus fa-5x"></i>
    <span>Crear video</span>
  </div>

  <ng-container *ngIf="videos | async;else loading; let videosArray">
    <div class="card text-center" *ngFor="let gift of videosArray" (click)="edit(gift)">
      <div
        [class.private]="gift.state == States.PRIVATE"
        [class.public]="gift.state == States.PUBLIC"
        [class.auth]="gift.state == States.AUTH"
        class="estado">
        {{getStateName(gift.state)}}
      </div>
      <div class="portada" [style.background-image]="'url(\'assets/images/video.png\')'"></div>
      <div class="titulo">{{gift.title}}</div>
      <div class="overlay"><i class="fa fa-pencil fa-3x"></i><span>editar</span></div>
    </div>

    <div *ngIf="videosArray.length == 0">
      No hay videos cargados
    </div>
  </ng-container>

  <ng-template #loading>
    <div class="loading">
      <i style="color:lightseagreen" class="fa fa-spinner fa-spin fa-5x"></i>
    </div>
  </ng-template>
</div>
