<div class="alert" [ngClass]="alert.class" *ngIf="alert.show" role="alert">

  <i class="fa fa-circle-o-notch fa-spin" *ngIf="alert.withLoading"></i>

  <p>{{alert.message}}</p>
  <button *ngIf="!alert.lapse; else timeLapse" class="btn-trasparent" (click)="closeAlert()">
        <i class="fa fa-close"></i>
  </button>
  <ng-template #timeLapse>
      <i class="fa fa-clock-o"></i>
  </ng-template>

</div>