 

.alert-warning .divider-vertical{
    background: #666610
}

.alert-info .divider-vertical{
    background: #004C59
}
.alert-success .divider-vertical{
    background: #136900
}

.alert-danger .divider-vertical{
    background: #6C0707
}

p{ 
    margin: 0px;
}

p::first-letter{
    text-transform: capitalize;
}

.btn-trasparent{
    outline: none;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
}


.alert{ 
    display: -webkit-box;
    justify-content: space-between;
}
 

.close-div{
    display: flex
}