<!-- Modal -->
<div class="modal fade"
     id="confirmDialogModal"
     tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="left: 50%;">
        <div [ngSwitch]="type">
          <i *ngSwitchCase="'warning'" class="fa fa-warning header-dialog-icon"  style="color:rgba(255,69,56,0.51);left: 50%;"></i>
          <i *ngSwitchCase="'success'" class="fa fa-check-circle header-dialog-icon" style="color:rgba(29,197,20,0.51);left: 50%;"></i>
          <i *ngSwitchCase="'success'" class="fa fa-check-circle header-dialog-icon" style="color:rgba(29,197,20,0.51);left: 50%;"></i>
          <i *ngSwitchCase="'ask'" class="fa fa-question-circle header-dialog-icon" style="color:rgba(68,146,255,0.5);left: 50%;"></i>
          <i *ngSwitchCase="'information'" class="fa fa-info-circle header-dialog-icon"style="color:rgba(255,172,55,0.53);left: 50%;"></i>
        </div>
        <h5 class="modal-title principal-text-dialog" >{{title}}</h5>
      </div>
      <div class="modal-body text-center">
        {{message}}
      </div>
      <div *ngIf="!timer" class="modal-footer">
        <button *ngIf="type == 'ask'" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button"
                class="btn btn-primary"
                [class.btn-danger]="type == 'warning'"
                data-dismiss="modal"
                (click)="accept()">
          Aceptar
        </button>
      </div>
    </div>
  </div>
</div>
