/* PARA QUE LOS MODALES DE BOOTSTRAP SE CENTREN EN LA PANTALLA */

.modal-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: none;
}

.modal-header i{
  font-size: 60px;
}

.modal-footer{
  display: flex;
  justify-content: center;
  border-top: none;
}

.modal-dialog {
  transform: translate(0, -50%);
  top: 25%;
  margin: 0 auto;
}


.header-dialog-icon {
  background: white; 
  padding: 5px 10px; 
  border-radius: 80%;
  position: fixed;
  margin: -50px -2rem;
}

.principal-text-dialog { 
  text-align: center;
  width: 100%;
  margin-top: 20px;
}
