<form (submit)="submit(this)"
      #form="ngForm"
      *ngIf="tag">
  <h4 *ngIf="create">Nuevo tag</h4>
  <h4 *ngIf="!create">Editar tag</h4>

  <div class="form-group w-75">
    <label for="titulo">Imagen de tag</label>
    <div class="input-group input-group-sm">
      <input id="image"
             type="file"
             (change)="previewImage($event)">

      <p *ngIf="imageProgress != null"> cargando imagen {{imageProgress}} %</p>
    </div>

    <img id="preview"
         [src]="tag.photo"
         onerror="this.src = ''">
  </div>

  <div class="form-group w-75">
    <label for="name">Nombre</label>
    <div class="input-group input-group-sm">
      <input required
             (keyup)="verifyName()"
             type="text"
             placeholder="name"
             id="name"
             [(ngModel)]="tag.name"
             name="name"
             [class.form-control-error]="nameInvalid"
             class="form-control">
    </div>
    <small *ngIf="nameInvalid"
           class="form-error form-text text-muted">
      el nombre ya esta ocupado por otro tag
    </small>
  </div>

  <div class="form-group w-75">
    <label for="name">nuevo grupo</label>
    <div class="input-group input-group-sm">
      <input class="form-control"
             [(ngModel)]="newGroupName"
             name="newGroupName">
      <button type="button"
              [disabled]="newGroupName.length == 0 || groupNameInvalid(newGroupName)"
              class="add-group-button"
              (click)="addGroup()">Agregar grupo</button>
    </div>
    <small *ngIf="newGroupName.length == 0"
           class="form-text text-muted">
      debe ingresar un nombre
    </small>
    <small *ngIf="groupNameInvalid(newGroupName)"
           class="form-error form-text text-muted">
      el nombre ya esta utilizado por otro grupo
    </small>
  </div>

  <div cdkDropList
       class="example-list"
       (cdkDropListDropped)="drop($event)">
    <div class="example-box"
         *ngFor="let group of groups; let i = index"
         cdkDrag>
      <input type="text"
             [(ngModel)]="group.name"
             name="{{'groupName' + i}}">
      <button type="button"
              (click)="removeGroup(i)">x</button>
    </div>
  </div>

  <div class="d-flex justify-content-center mt-4">
    <button *ngIf="!create"
            type="button"
            class="btn btn-danger"
            (click)="removeTag()">Eliminar tag</button>
    <button type="submit"
            class="btn btn-primary"
            [disabled]="form.invalid  || imageProgress == null || groups.length == 0">Guardar tag</button>
  </div>
  <small *ngIf=" groups.length == 0">El tag debe contener al menos un grupo</small>

</form>