//--------------------------------
//  PATRON DE COLORES
//--------------------------------

$principal:#2196F3;
$principal_obscuro:#0D47A1;
$secundario:#43A047;
$acento:#F44336;
$texto: #111111;
$heightencabezado: 60px;

//history colors
$history_primary: #ff23ff;
$history_primary_dark: #ff23ff;
$history_text_color: #ffffff;

//castle colors
$castle_primary: #C800FF;
$castle_primary_dark: #C800FF;
$castel_text_color: #fff;

// "quienes somos" (we) colors
$we_primary: #ffff;
$we_primary_dark: #ffff;
$we_text_color: #fff;

//helpers colors
$helpers_primary: #fff;
$helpers_primary_dark: #fff;
$helpers_text_color: #fff;

//proffile colors
$profile_primary: #fefefe;
$profile_primary_dark: #fefefe;
$profile_text_color: #fff;





$fa-css-prefix: 'fa';
@import '~font-awesome/scss/variables';
@import '~font-awesome/scss/core';
@import '~font-awesome/scss/icons';

$icon-font-size: 16px;

 

 