//import del patron de colores
@import 'variables';
//import de bootstrap
@import "../node_modules/bootstrap/scss/bootstrap.scss";

//@import "../node_modules/font-awesome/css/font-awesome.min.css";

$fa-font-path: "../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome.scss";

//material theme
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
  min-height: 100vh;
}

button, a{
  cursor: pointer;
}
