<div class="jumbotron jumbotron-fluid jumbotron-style">
  <div class="container">
    <h3 class="display-6">Dar Permisos admin</h3>
    <p class="lead">Crea un administrador que utiliza ya dentoonia.</p>
  </div>
</div>
<alert></alert>

<form autocomplete="off" novalidate>
  <!-- user name -->
  <div *ngIf="privateData; else inputUid" class="form-group card text-white bg-dark">
      <div class="card-header">{{privateData.displayName}}</div>
    <div class="card-body">
      <p class="card-text">EMAIL: {{privateData.email}}</p>
      <p class="card-text">UID: {{uid}}</p>
      <button class="btn btn-danger" (click)="cancelUser()">
          Cancelar, buscar con otro UID.
      </button>
    </div>
  </div>


  <ng-template #inputUid>
    <div class="form-group">
      <input name="uid" [(ngModel)]="uid" class="form-control" type="text" placeholder="UID" (ngModelChange)="obtenerUser($event)"
        [disabled]="disabled" required>
    </div>
  </ng-template>

  <!-- permiso -->
  <div class="form-group">
    <select class="custom-select" id="inlineFormCustomSelect" aria-placeholder="Permiso" (change)="setTypeOfUser($event.target.value)">
      <option selected="selected" disabled>Tipo de usuario: </option>
      <!-- adminisarticlesulos y regalos -->
      <option value="3">Regular admin</option>
      <!-- adminisarticlesulos, regalos y admins -->
      <option value="2">Super admin</option>
      <!-- adminisarticlesulos, regalos, super admins -->
      <option value="1">Owner</option>
    </select>
  </div>


  <button type="button" *ngIf="!loading; else loadingStart" class="btn btn-success" (click)="saveAdmin()">
      Guardar
    </button>
  <ng-template #loadingStart>
    <i class="fa fa-circle-o-notch fa-spin"></i>
  </ng-template>
</form>
