<div class="jumbotron jumbotron-fluid jumbotron-style">
  <div class="container">
    <h3 class="display-6">Crea usuarios</h3>
    <p class="lead">Crea aqui un administrador nuevo para dentoonia.</p>
  </div>
</div>
<alert></alert>

<form autocomplete="off" novalidate>
  <!-- user name -->
  <div class="form-group">
    <input name="displayName" #displayName [(ngModel)]="admin.displayName" class="form-control" type="text" placeholder="nombre y apellido"
      required>
  </div>
  <!-- email -->
  <div class="form-group">
    <input name="email" #email [(ngModel)]="admin.email" class="form-control" type="email" placeholder="email" required>
  </div>
  <!-- contraseña -->
  <div class="form-group">
    <input name="password" [(ngModel)]="password" class="form-control" class="form-control" type="password" placeholder="contraseña"
      required>
  </div>
  <!-- confirmar contraseña -->
  <div class="form-group">
    <input name="confirmPassword" [(ngModel)]="confirmPassword" class="form-control" type="password" placeholder="repite contraseña"
      required>
  </div>
  <!-- permiso -->
  <div class="form-group">
  <select class="custom-select" id="inlineFormCustomSelect" aria-placeholder="Permiso" (change)="setTypeOfUser($event.target.value)">
    <option selected="selected" disabled>Tipo de usuario: </option>
    <!-- adminisarticlesulos y regalos -->
    <option value="3">Regular admin</option>
    <!-- adminisarticlesulos, regalos y admins -->
    <option value="2">Super admin</option>
    <!-- adminisarticlesulos, regalos, super admins -->
    <option value="1">Owner</option>
  </select>
  </div>


  <button type="button" *ngIf="!loading; else loadingStart" class="btn btn-success" (click)="saveAdmin()">
    Guardar
  </button>
  <ng-template #loadingStart>
    <i class="fa fa-circle-o-notch fa-spin"></i>
  </ng-template>
</form>
